//COLORS
$white: white;
$black: black;
$black-light: rgb(180, 175, 175);
$pink: rgba(236, 23, 59, 0.822);
$pink-light: rgb(245, 73, 102);
$grey: rgb(92, 88, 88);
$grey-dark: rgba(56, 55, 55, 0.897);
$grey-light: rgb(148, 142, 142);